# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_RA4M3=y
CONFIG_SOC_PART_NUMBER_RA4M3AF3CFB=y
CONFIG_BOARD_EK_RA4M3=y
CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y
# CONFIG_UART_RTT_DRIVER=y
CONFIG_CONSOLE=y
CONFIG_SEGGER_RTT_BUFFER_SIZE_UP=64
# CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_RA=y
# CONFIG_SCI_RA=y
# CONFIG_UART_USE_RUNTIME_CONFIGURE=n
# CONFIG_SCI_UART_CFG_RX_ENABLE=y
# CONFIG_SCI_UART_CFG_TX_ENABLE=y
# CONFIG_WDT_DISABLE_AT_BOOT=y
CONFIG_BOOT_BANNER=y
CONFIG_DEBUG=y
CONFIG_BUILD_OUTPUT_HEX=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y
